h3 {
    padding-top: 60px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    background-color: #333333;
    color: #FFFFFF;
}

hr {
    margin: 0;
    padding: 0;
}

.topbar_height {
    height: 60px;
}

.topbar_height_as_width {
    width: 60px;
}

.topbar_title {
    font-size: 28px;
}

.navigation_component {
    width: 180px;
    left: -200px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    transition: left .2s linear;
}

.navigation_component.is_selected {
    left: 1px;
}

.navigation_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DDDDDD;
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {

    .topbar_title {
        font-size: 18px;
    }
    
    .topbar_height {
        height: 40px;
    }

    .topbar_height_as_width {
        width: 40px;
    }

    h3 {
        padding-top: 40px;
    }

}

.app_header {

}

.app_static {

}

.app_body {

}

.app_footer {

}

.badge_viewer {
    padding: 5px;
}

.badge_style {
    background-color: #FFFFFF;
    margin-top: 5px;
    width: 100%;
}

.badge_type_error {
    background-color: #D0AAAA;
}

.badge_type_inform {
    background-color: #AAAAD0;
}

.badge_type_warning {
    background-color: #D0D0AA;
}

.badge_title {
    font-size: 15px;
    font-weight: bold;
}

.badge_message {
    font-size: 10px;
}

.dialogs_viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    z-index: 9999;
}

.dialogs_container {
    display: table;
    width: 100%;
    height: 100%;
}

.dialogs_content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

.dialog_box {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    background-color: #CCCCCC;
}

.dialog_header {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #333333;
    position: absolute;
    top: 0px;
    bottom: auto;
    left: 0px;
    right: 0px;
    height: 30px;
    white-space: nowrap;
}

.dialog_body {
    font-size: 12px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    overflow: scroll;
}

.dialog_footer {
    border-top: 1px solid #333333;
    height: 30px;
    position: absolute;
    top: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.footer_space {
    margin-top: 50px;
    border-top: 1px solid #DDDDDD;
}

.footer_message {
    font-size: 12px;
    padding: 5px;
    text-align: right;
}

.footer_love_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

.link_like {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}